<%- include ("../_partial/_header.ejs"); %>

<div class="row" style="padding-bottom: 20px;">
    <div class="col-md-6">
        <h1 style="font-size: 2.5em; font-weight: bold;">Setting</h1>
    </div>
</div>
<div class="row">
    <form id="changeEmailForm">
        <div class="col-md-4"> <!-- Adjusted column size -->
            <div class="form-group">
                <label for="email" style="padding-right: 55px;">Email:</label>
                <input type="email" id="email" name="email" value="<%= user.email %>">
            </div>
        </div>
        <div class="col-md-6"> <!-- Adjusted column size -->
            <div class="form-group">
                <button type="button" id="changeButton" class="btn btn-primary">Change</button>
            </div>
        </div>
    </form>
</div>

<!-- Confirmation Code Field -->
<div class="row" id="confirmationCodeField" style="display: none;">
    <div class="col-md-4"> <!-- Adjusted column size -->
        <div class="form-group">
            <label for="confirmationCode">Confirm Code:</label>
            <input type="text" id="confirmationCode">
        </div>
    </div>
    <div class="col-md-6"> <!-- Adjusted column size -->
        <button type="button" id="confirmCodeButton" class="btn btn-primary">Confirm</button>
    </div>
</div>

<%- include ("../_partial/_footer.ejs"); %>

<script>
    document.getElementById('changeButton').addEventListener('click', function() {
        document.getElementById('confirmationCodeField').style.display = 'block'; // Show confirmation code field
    });

    document.getElementById('confirmCodeButton').addEventListener('click', function() {
        var confirmationCode = document.getElementById('confirmationCode').value;
        // Perform actions based on the entered confirmation code
        // You can add your logic here
        console.log("Confirmation Code Entered: " + confirmationCode);
        // Hide the confirmation code field
        document.getElementById('confirmationCodeField').style.display = 'none';
    });
</script>
