<%- include ("../_partial/_header.ejs"); %>
    <div class="row">
        <div class="col-md-6">
            <a><img src="src/upload/images/FIT-logo_dat_kem_voi_logo_truong.png" class="thumbnail" alt="img" style="max-width: 500px; max-height: 500px;" /></a>
            <h2>18120528-Nguyễn Như Quang</h2>
            <h3><a href="https://github.com/18120528">https://github.com/18120528</a></h3>
        </div>
    </div>
<%- include ("../_partial/_footer.ejs"); %>
