<%- include ("../_partial/_header.ejs"); %>

    <div class="row">
        <div class="col-md-5">
            <a><img src="src/upload/images/FIT-logo_dat_kem_voi_logo_truong.png" class="thumbnail" alt="img" style="max-width: 500px; max-height: 500px;" /></a>
        </div>
        <div class="col-md-6">
            <iframe src="https://giphy.com/embed/xHEPtVlwQ4sJs07clI" width="220" height="220" frameBorder="0" class="giphy-embed"></iframe>
        </div> 
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2><strong>Nguyễn Như Quang</strong></h2>
            <ul>
            <li><h3>Bachelor of Information Technology</h3></li>
            <li><h3>Specializing in Computer Networking</h3></li>
            <li><h3><a href="https://github.com/18120528">https://github.com/18120528</a></h3></li>
            </ul>
        </div>
    </div>

<%- include ("../_partial/_footer.ejs"); %>
