<%- include('../_partial/_header'); -%>

<div style="width: 400px; margin: 0 auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; text-align: center;">
  <strong><h2>Find Your Account</h2></strong>
  <form action="forgetpwd" method="post" onsubmit="return validateForm()">
    <input type="email" id="email" name="email" placeholder="Email" style="width: 100%; padding: 10px; margin: 10px 0; box-sizing: border-box; border: 1px solid #ccc; border-radius: 3px;"><br>
    <input type="submit" value="Send" style="width: 100%; padding: 10px; margin-top: 10px; box-sizing: border-box; border: none; border-radius: 3px; background-color: #007bff; color: #fff; cursor: pointer;">
  </form>
</div>

<script>
  function validateForm() {
    var email = document.getElementById("email").value;

    if (email === "") 
    {
      alert("Email cannot be blank");
      return false;
    }
    return true;
  }
</script>

<%- include('../_partial/_footer'); -%>
